@charset "UTF-8";

body {
    background: #0b1942 !important;
}

[class*=sidebar-dark] .brand-link{
	
}

.nav-link_sub{
	display: none;
}


body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{
	    margin-left: 0;
	    padding: 0;
}
body:not(.layout-fixed) .main-sidebar{
	top: auto;
}

body:not(.layout-fixed) .main-sidebar{
	    position: fixed;
    background: #fff;
    box-shadow: 0 0px 0px rgb(255 255 255) !important;
    border-right: 1px solid #ddd;
}

.elevation-3{
	box-shadow: 0 0px 0px rgb(255 255 255) !important;
	
}

.img-circle{
	border-radius: 0;
}

.main-footer{
	
	text-align: center;
}


body:not(.layout-fixed) .main-sidebar .sidebar{
    overflow-y: auto;
    background: #0042a5;
    padding-top: 100px;
    padding-bottom: 20px;
}


.brand-link{
	padding: 30px 0px 20px 60px;
	
}