<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PharmacyBill-Mapper">
	<!-- 병진 : 조제료 기본값을 가져오기 위한 sql문 -->
	<select id="getMedicienBill" resultType="medicienBill">
		SELECT
		    manage_bill
		   ,medicine_basic_bill
		   ,taking_medicine_bill
		   ,medicine_bill
		   ,medical_manage_bill
		   ,medical_manage_drug_bill
		FROM
		    pharmacy_bill
	</select>
</mapper>